@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Special+Elite&display=swap");

:root {
  --red: #961f24;
  --orange: #db5e18;
  --black: #180304;
}

body {
  background-color: var(--red);
  color: var(--black);
  font-family: "DM Sans";
  font-weight: 200;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--black);
  color: white;
  padding: 2rem 1rem 1rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: "Special Elite";
  font-size: 2.5rem;
  color: var(--orange);
}

header h1,
header p {
  margin: 0;
  text-align: center;
}

header nav {
  margin-top: 2rem;

  display: flex;
  gap: 2rem;
}

button {
  appearance: none;
  border: none;
  outline: none;

  background-color: var(--orange);
  border-radius: 4px;
  padding: 0.5rem 2rem;
  min-width: 5rem;
  color: white;
  font-weight: 200;
}

button.active,
button:not(.active):hover {
  background-color: var(--red);
}

#content {
  flex: 1;
  padding: 4rem 2rem 2rem 2rem;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  row-gap: 2rem;
}

.text {
  color: white;
  align-self: center;
}

.text h2 {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
}

.text button:hover {
  background-color: var(--black);
}

.img {
  width: 100%;
}

.hero-img {
  padding-left: 0.5rem;
}

.two-col {
  grid-column-end: span 2;
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card-img {
  border-radius: 4px 4px 0 0;
}

.card-body {
  flex: 1;

  display: flex;
  flex-direction: column;

  background-color: white;
  padding: 1rem;
  border-radius: 0 0 4px 4px;
}

.card-body h3 {
  margin: 0;
}

.card-body p {
  flex: 1;
}

.card-body p + p {
  margin-top: 0;
}

.card-body button {
  width: 100%;
}

.text h3 {
  font-weight: 200;
}

.text ul {
  list-style: none;
  margin: 0;
  padding-left: 1rem;
}

.text li {
  margin-bottom: 1rem;
}

.text li {
  display: flex;
  align-items: baseline;
}

li span {
  font-weight: 400;
  width: 150px;
  margin-right: 1rem;
}

footer {
  background-color: var(--black);
  color: white;
  padding: 1rem;
}

footer p {
  margin: 0.5rem;
  text-align: center;
}

.disclaimer {
  font-size: 0.75rem;
}

.disclaimer p {
  font-style: italic;
}

@media only screen and (max-width: 769px) {
  #content {
    grid-template-columns: 1fr;
    padding: 2rem;
  }

  header nav {
    gap: 1rem;
  }

  button {
    padding: 0.5rem 1.5rem;
    color: white;
    font-weight: 200;
  }

  .two-col {
    grid-column-end: auto;
  }

  .card {
    padding: 0;
  }
}
